* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: var(--felna-font);
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  /* color: var(--felna-gray); */
}

:root {
  --felna-base: #558e4c;
  --felna-base-rgb: 85, 142, 76;
  --felna-primary: #ecdd5e;
  --felna-primary-rgb: 236, 221, 94;
  --felna-black: #404a3d;
  --felna-black-rgb: 64, 74, 61;
  --felna-gray: #878986;
  --felna-white: #ffffff;
  --felna-light: #f5f0e9;
  --felna-bdr-color: #ebe5dd;
  --felna-font: "DM Sans", sans-serif;
  --felna-secondary-font: "Amatic SC", cursive;
  --felna-reey-font: "reeyregular";
  --transition: all 500ms ease;
}

/* top nav bar starts here */
.main-header {
  background: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  transition: var(--transition);
}

.main-header__top {
  position: relative;
  display: block;
  background-color: #fff;
}

.cotainer {
  padding-left: 15px;
  padding-right: 15px;
}

.main-header__top-inner {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: center;
  padding: 34px 0;
}

.main-header__top-logo {
  position: relative;
  display: block;
}

#felna-logo {
  width: 140px;
  height: 120px;
}

.main-header__top-right {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.main-header__icon {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.main-header__icon a {
  position: relative;
  height: 43px;
  width: 43px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--felna-black);
  font-size: 15px;
  background-color: var(--felna-light);
  border-radius: 50%;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 1;
  cursor: pointer;
  margin-left: 10px;
}

.main-header__icon a:hover {
  background-color: var(--felna-base);
  color: var(--felna-white);
}

/* .center-burst::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: var(--transition);
  z-index: 0;
}

.center-burst:hover::before {
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--felna-base);
  color: var(--felna-white);
}

.center-burst:hover {
  color: white;
}

.center-burst {
  position: relative;
  z-index: 1;
} */

.main-header__contact-box {
  margin-left: 80px;
  position: relative;
  display: block;
}

.main-header__contact-list {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.main-header__contact-list li {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.main-header__contact-list li + li {
  margin-left: 60px;
}

.main-header__contact-list li .icon i {
  margin-right: 20px;
  color: var(--felna-base);
  font-size: 30px;
}

.main-header__contact-list li .text a {
  color: var(--felna-black);
  font-weight: 600;
  transition: var(--transition);
}

.main-header__contact-list li .text a:hover {
  color: var(--felna-base);
}

.main-header__contact-list li .text p {
  color: var(--felna-gray);
}

/* top nav bar ends here */

/* bottom nav bar starts here */
.main-menu {
  position: relative;
  display: block;
  z-index: 91;
}

.main-menu__inner {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  background-color: var(--felna-primary);
}

.main-menu-box {
  padding-left: 40px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#mobile-nav__toggler {
  font-size: 100px;
  color: var(--felna-base);
  cursor: pointer;
}

/* bottom nav bar ends here */
